php:
	date.timezone: Europe/Prague
console:
	url: http://robert.kdpvv.cz/
nette:
	security:
		frames: null
	session:
		autoStart: false
services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
doctrine:
	driver: pdo_sqlite
	memory: true
	metadata:
		WriteligentTests\DoctrineExtensions: annotations(%appDir%/WriteligentTests/DoctrineExtensions/Model)
	metadataCache: array
	queryCache: array
	resultCache: array
	hydrationCache: array
