php:
	date.timezone: Europe/Prague
console:
	url: http://robert.kdpvv.cz/
nette:
	session:
		autoStart: false
services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage
doctrine:
	driver: pdo_sqlite
	path: %appDir%/tmp/db.sql
	memory: false
	metadata:
		WriteligentTests\DoctrineExtensions: annotations(%appDir%/tmp/)
	metadataCache: array
	queryCache: array
	resultCache: array
	hydrationCache: array
